.bodyContainer {
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-small);

    .asterisk {
        margin-left: var(--spacing-small);

        color: var(--color-danger);
    }

    .nameLabel {
        margin: var(--spacing-small) 0;
    }

    .inputStyle {
        height: 2.5em;
        margin-top: var(--spacing-small);
        margin-right: var(--spacing-small);

        color: var(--color-gray_dark);

        border: 1px solid var(--color-gray_light);
        border-radius: 2px;
    }

    .dateInput {
        height: 2.5em;
        margin: var(--spacing-small) 0;

        color: var(--color-gray_dark);

        border: 1px solid var(--color-gray_light);
        border-radius: 2px;
    }

    .errorMessage {
        color: var(--color-danger);
    }

    .errorDiv {
        min-height: var(--spacing-large);
    }

    .inputFocus {
        border-color: var(--color-accent_dark60);
    }

    .inputError {
        border-color: var(--color-danger);
    }

    .text.text {
        color: var(--color-dark);

        background-color: unset;
        box-shadow: unset;
    }
}
