.modal {
    padding: var(--spacing-medium) var(--spacing-large);

    border-radius: 2px;
    background-color: var(--color-white);
    box-shadow: 0 4px 4px var(--color-dark40);

    &:focus {
        outline: none;
    }

    .header {
        min-height: var(--spacing-huge);

        button {
            align-self: flex-start;
        }
    }

    .footer {
        margin-top: var(--spacing-large);

        button:last-child {
            margin-left: var(--spacing-medium);
        }
    }
}
