.modal {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-medium) var(--spacing-large) 0 var(--spacing-large);

    border-radius: 2px;
    background-color: var(--color-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    &:focus {
        outline: none !important;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 64px;

        button {
            align-self: flex-start;
        }
    }

    .footer {
        display: flex;
        flex-grow: 0;
        flex-basis: 64px;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        align-self: flex-end;
        width: 30%;

        button:last-child {
            margin-left: var(--spacing-medium);
        }
    }
}
