.bodyContainer {
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-large);

    .copyContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: var(--spacing-large);
    }

    .tokenContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: var(--spacing-large) 0;
        padding: var(--spacing-large);

        border: 2px solid var(--color-warning60);
        background: var(--color-warning40);
    }

    .secretKeyWarning {
        margin-top: var(--spacing-large);

        color: var(--color-danger);
    }
}
