.bodyContainer {
    margin-top: var(--spacing-large);

    .copyContainer {
        margin-top: var(--spacing-large);
    }

    .tokenContainer {
        margin: var(--spacing-large) 0;
        padding: var(--spacing-large);

        border: 2px solid var(--color-warning60);
        background: var(--color-warning40);
    }

    .secretKeyWarning {
        margin-top: var(--spacing-large);

        color: var(--color-danger);
    }
}
