.outerDiv {
    margin: var(--spacing-medium);
    padding: var(--spacing-medium);

    border: 1px solid var(--color-gray_dark);
    border-radius: var(--spacing-small);
}

.tableDiv {
    height: 200px;
    overflow: auto;
}

.table {
    width: 100%;
}

.tableHead {
    position: sticky;
    top: 0;
    z-index: 1;

    background: var(--color-white);
}
