.remove {
    color: var(--color-danger);
}

.deleteDialogBody {
    margin: var(--spacing-medium) 0;
}

.tokenName {
    font-weight: bold;
}

.deleteButton.deleteButton {
    width: fit-content;
    height: var(--spacing-large);
}
