.remove {
    color: var(--color-danger);
}

.deleteDialogBody {
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-big);
}

.tokenName {
    font-weight: bold;
}

.deleteButton.deleteButton {
    width: fit-content;
    height: var(--spacing-large);
}
