# This workflows can be triggered manually via the GitHub actions UI
# It is used to trigger an integration tests run using snapshot artifacts
name: Manual Tests Run

on:
  workflow_dispatch:
    inputs:
      jahia_image:
        description: 'Jahia Image'
        required: true
        default: 'ghcr.io/jahia/jahia-ee-dev:8-SNAPSHOT'
      manifest:
        description: 'Provisioning manifest. Can be a local repository file in the tests folder or a publicly accessible link'
        required: true
        default: 'provisioning-manifest-snapshot.yml'

jobs:
  integration-tests:
    name: Integration Tests
    secrets: inherit
    uses: Jahia/jahia-modules-action/.github/workflows/reusable-integration-tests.yml@v2
    with:
      module_id: personal-api-tokens
      module_branch: main
      provisioning_manifest: ${{ github.event.inputs.manifest }}
      jahia_image: ${{ github.event.inputs.jahia_image }}
      should_skip_testrail: true
      artifact_prefix: personal-api-tokens-standalone-artifacts