name: Nightly Test run

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 0 * * *'

jobs:
  integration-tests-sn:
    name: Integration Tests (Jahia-SN)
    secrets: inherit
    uses: Jahia/jahia-modules-action/.github/workflows/reusable-integration-tests.yml@v2
    with:
      module_id: personal-api-tokens
      module_branch: main
      provisioning_manifest: provisioning-manifest-snapshot-8.2.x.yml
      jahia_image: ghcr.io/jahia/jahia-ee-dev:8-snapshot
      artifact_prefix: pat-jahia-sn

  integration-tests-rl:
    name: Integration Tests (Jahia-RL)
    secrets: inherit
    uses: Jahia/jahia-modules-action/.github/workflows/reusable-integration-tests.yml@v2
    with:
      module_id: personal-api-tokens
      module_branch: main
      provisioning_manifest: provisioning-manifest-release-8.1.x.yml
      jahia_image: jahia/jaha-ee:8.1
      artifact_prefix: pat-jahia-rl
