.icon.icon {
    margin-bottom: 2%;

    color: var(--color-gray_light);

    opacity: 1;
}

.iconActive.iconActive {
    margin-bottom: 2%;

    color: var(--color-accent);
}

.cellFont.cellFont {
    color: var(--color-dark);

    border-bottom: 0;
}
