.icon {
    margin-bottom: 2%;

    color: var(--color-gray_light);

    opacity: 1 !important;
}

.iconActive {
    margin-bottom: 2%;

    color: var(--color-accent) !important;
}

.cellFont {
    padding: 12px 16px;

    font: 16px 'Nunito Sans', sans-serif !important;
    color: var(--color-dark);

    border-bottom: 0 !important;
}
